.bet-container {
  width: 780px;
  height: 100%;
  position: relative;
}

h2 {
color: #707070;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.title {
  display: flex;
  font-size: 18px;
  margin-top: 76px;
  margin-bottom: 30px;
}

.for-game-name {
  font-weight: 400;
}

.h2-game-name {
  font-weight: 400;
}

.choose-game-buttons {
  display: flex;
}

.game-button {
  width: 120px;
  height: 36px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 18px;
  margin-right: 10px;

  transition: filter 0.2s;
}

.game-button:hover {
  filter: brightness(0.9);
}

.Lotofácil {
  border: 2px solid #7F3992;
  background-color: #FFFFFF;
  color: #7F3992;
}

.Mega-Sena {
  border: 2px solid #01AC66;
  background-color: #FFFFFF;
  color:#01AC66;
}

.Quina {
  border: 2px solid #F79C31;
  background-color: #FFFFFF;
  color:#F79C31;
}

.bet-description {
  color: #868686;
  font-size: 18px;
}

.number {
  background-color: #ADC0C4;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 32px;
  margin-right: 4px;
  margin-bottom: 16px;
  width: 64px;
  height:64px;

  transition: filter 0.2s;
}

.number:hover {
  filter: brightness(0.9);
}

.numbers {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin: 40px 0;
}

.game-buttons {
  display: flex;
  justify-content: space-between;
}

.complete-clear-game-buttons {
  background-color: #FFFFFF;
  color: #27C383;
  border: 2px solid #27C383;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  font-style: normal;

  transition: filter 0.2s;
}

.complete-clear-game-buttons:hover {
  filter: brightness(0.9);
}

.add-to-cart-button {
  background-color: #27C383;
  color: #FFFFFF;
  border: 2px solid #27C383;
  padding: 16px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  margin-right: 14px;
  display: flex;
  justify-content: space-between;
  font-style: normal;

  transition: filter 0.2s;
}

.add-to-cart-button:hover {
  filter: brightness(0.9);
}

.add-to-cart-button img {
  margin-right: 16px;
}
